* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

.bordering
{
    margin-top: 10px;
    height: 430px;
    width: 350px;
    background-color: rgb(0, 0, 81);
    margin-left: 600px;
    border-radius: 15px;
}

body {
    font-family: sans-serif;
    margin-top: 150px;
}

body {
    background-color: rgb(255, 255, 255);
}

.bordering#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

.button#coloring1 {
    background-color: #7b0966;
    color: #fffefe;
}

.button#coloring {
    background-color: blueviolet;
    color: #fffefe;
}


.button#coloring2 {
    background-color: #7b0966;
    color: #fffefe;
}

.input
{
    width: 67%;
    height: 90%;
    padding-top:20px;
    padding-bottom: 18px;
    padding-left: 18px;
    border-radius: 10px;
}